/* Set the background color to blue-black */
body {
    background-color: #0c0c0c;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

/* Add some padding to the body */
body {
    padding: 20px;
}

/* Style the h1 tag */
h1 {
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 60px;
    text-align: center;
}

/* Style the form group */
.form-group {
    margin-bottom: 20px;
}

/* Style the label */
label {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

/* Style the input */
input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background-color: #333;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

/* Style the table */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

/* Style the table head */
.table th {
    text-align: left;
    padding: 10px;
    border-bottom: 2px solid #ddd;
}

/* Style the table body */
.table td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

/* Style the table body on hover */
.table tbody tr:hover {
    background-color: #333;
}

/* Style the button */
.button {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    transition: background-color 0.2s ease-in-out;
    font-weight: 500;
    font-size: 16px;
    margin: 5px;
    background-color: #2196f3;
    border: none;
}

/* Style the button on hover */
.button:hover {
    background-color: #0d8bf2;
}

/* Style the button container */
.button-container {
    text-align: center;
    margin-top: 20px;
}

.link-list {
    list-style-type: none; /* This removes the bullet points */
    text-align: center; /* This centers the text */
    padding: 0; /* This removes the default padding */
    margin-top: 50px; /* This adds space below the heading */

}

.button {
    display: inline-block; /* This allows us to add padding */
    padding: 20px 30px; /* This makes the button larger */
    text-decoration: none; /* This removes the underline */
    font-size: 20px; /* This makes the text larger */
    margin-bottom: 30px;
}

.back-button {
    position: fixed; /* This makes the button stay in the same place even when you scroll */
    bottom: 20px; /* This positions the button 20px from the bottom of the page */
    left: 20px; /* This positions the button 20px from the left of the page */
    display: inline-block; /* This allows us to add padding */
    padding: 10px 20px; /* This makes the button larger */
    background-color: #990000; /* This sets the background color to a darker red */
    color: white; /* This sets the text color to white */
    text-decoration: none; /* This removes the underline */
    font-size: 20px; /* This sets the font size */
    border-radius: 12px; /* This makes the button rounded */
}

.pnl-positive {
    color: green;
}

.pnl-negative {
    color: red;
}

.summary-container {
    display: flex; /* This makes the container a flex container */
    justify-content: space-between; /* This spaces the items evenly apart */
}

.flashes {
    list-style-type: none;
    padding: 0;
}
.flashes li {
    background-color:#f7f48b; /* pastel yellow */
    color: black;
    padding: 10px;
    margin-bottom: 10px;
}