<!DOCTYPE html>
<html>
    <head>
        <title>Fincell Place Trade</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Place Trade</h1>
            <form method="POST">
                <div class="form-group">
                    <label for="scrip">Stock Symbol</label>
                    <input type="text" id="scrip" name="scrip" required>
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input type="number" id="quantity" name="quantity" required>
                </div>
                <div class="button-container">
                    <form method="POST">
                    <button type="submit" class="button">Place Trade</button>
                    </form>
                </div>
            </form>
        </div>
    </body>
</html>