<!DOCTYPE html>
<html>
    <head>
        <title>Fincell Portfolio</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Portfolio</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Scrip</th>  
                        <th>Quantity</th>
                        <th>Average Price</th>
                        <th>Current Price</th>
                        <th>Total Cost</th>
                        <th>Value</th>
                        <th>P&L</th>
                    </tr>
                </thead>
                <tbody>
                    {% for scrip, details in portfolio.items() %}
                        <tr>
                            <td>{{ scrip }}</td>
                            <td>{{ details['quantity']|intcomma }}</td>
                            <td>{{ details['average_price']|intcomma }}</td>
                            <td>{{ details['current_price']|intcomma }}</td>
                            <td>{{ details['total_cost']|intcomma }}</td>
                            <td>{{ details['value']|intcomma }}</td>
                            <td class="{% if details['pnl'] >= 0 %}pnl-positive{% else %}pnl-negative{% endif %}">{{ details['pnl']|intcomma }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
                
            <div class="summary-container">
                <p class="pnl">Overall P&L: <span class="{% if overall_pnl >= 0 %}pnl-positive{% else %}pnl-negative{% endif %}">{{ overall_pnl|intcomma }}</span></p>
                <p class="invested-amount">Total Investment: <span>{{ invested_amount|intcomma }}</span></p>
            </div>

            <div class="button-container">
                <form method="POST">
                    <button type="submit" class="button">Update P&L</button>
                </form>
            </div>
        </div>
        <a href="/" class="back-button">Back</a>
    </body>
</html>