<!DOCTYPE html>
<html>
<head>
    <title>Fincell Tradebook</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Stock Symbol</th>
                <th>Exchange</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Time</th>
            </tr>
        </thead>
        <tbody>
            {% for row in tradebook %}
            <tr>
                {% for cell in row %}
                <td>{{ cell }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Return to Index</a>
</body>
</html>