<!DOCTYPE html>
<html>
    <head>
        <title>Fincell Tradebook</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1>Tradebook</h1>
            <table class = "table">
                <thead>
                    <tr>
                        <th>Stock Symbol</th>
                        <th>Exchange</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in tradebook %}
                    <tr>
                        {% for cell in row %}
                        <td>{{ cell }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="button-container">
            </div>
        </div>
        <a href="/" class="back-button">Back</a>
    </body>
</html>